@page "/barcode-gen"

<h3>Component1</h3>

<div class="control-section" style="width: 100%;height: 590px;">
    <div class="center">
        <div class="centercontrol">
            <SfQRCodeGenerator Width="250px" Height="250px" Value="WIFI:T:WPA;S:OPTUS_8B1B30N;P:gride43272hw;;">
                <QRCodeGeneratorDisplayText Visibility="false"></QRCodeGeneratorDisplayText>
            </SfQRCodeGenerator>
        </div>
    </div>
</div>

@code {

}

